.section {
  &__title {
    text-align: center;
    font-size: 4.725rem;
    line-height: 1.75rem;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.card {
  padding: 2rem;
  display: grid;
  gap: 60px 0;
  padding: 64px 48px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 40px;
  }

  &__container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px 0;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    color: $color-paragraph;
  }

  &__title {
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 20px;
    color: $color-title;
  }

  &__paragraph {
    font-size: 1rem;
    padding-right: 2em;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    &-img {
      max-width: 100%;
      height: auto;
      color: hsl(0, 0%, 24%);
    }
  }
}
