// Colores globales

$color-blue: rgb(22, 22, 101);
$color-yellow: rgb(252, 163, 17);
$color-danger: rgb(193, 25, 25);
$color-light: rgb(250, 250, 250);
$color-dark: rgb(28, 28, 28);
$color-green: rgb(38, 203, 38);

// Colores para elementos
$color-background: rgb(250, 250, 250);
$color-title: $color-dark;
$color-paragraph: $color-dark;
